<div class="selected-selected">
  <div class="banner-grid-image">
    <img class="image-1" src="image-10.png" />
  </div>
  <svg
    class="frame"
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g filter="url(#filter0_d_13_441)">
      <path
        d="M16 2C13.2311 2 10.5243 2.82109 8.22202 4.35943C5.91973 5.89777 4.12532 8.08427 3.06569 10.6424C2.00607 13.2006 1.72882 16.0155 2.26901 18.7313C2.80921 21.447 4.14258 23.9416 6.10051 25.8995C8.05845 27.8574 10.553 29.1908 13.2687 29.731C15.9845 30.2712 18.7994 29.9939 21.3576 28.9343C23.9157 27.8747 26.1022 26.0803 27.6406 23.778C29.1789 21.4757 30 18.7689 30 16C30 12.287 28.525 8.72601 25.8995 6.1005C23.274 3.475 19.713 2 16 2ZM14 21.5908L9.00001 16.5908L10.5906 15L14 18.4092L21.41 11L23.0057 12.5859L14 21.5908Z"
        fill="#588BD8"
      />
      <path
        d="M14 21.591L9 16.591L10.591 15L14 18.409L21.41 11L23.005 12.585L14 21.591Z"
        fill="white"
      />
    </g>
    <defs>
      <filter
        id="filter0_d_13_441"
        x="-4"
        y="0"
        width="40"
        height="40"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="2" />
        <feComposite in2="hardAlpha" operator="out" />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"
        />
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_13_441"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow_13_441"
          result="shape"
        />
      </filter>
    </defs>
  </svg>
  <div class="hair-style-1">Hair style 1</div>
</div>

<Style>
.selected-default,
.selected-default * {
  box-sizing: border-box;
}
.selected-default {
  width: 150px;
  height: 180px;
  position: relative;
}
.banner-grid-image {
  border-radius: 20px;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
  width: 150px;
  height: 150px;
  position: absolute;
  left: calc(50% - 75px);
  top: calc(50% - 90px);
  overflow: hidden;
}

.selected-selected .banner-grid-image {
  border-radius: 20px;
  border-style: solid;
  border-color: #588bd8;
  border-width: 2px;
  width: 150px;
  height: 150px;
  position: absolute;
  left: calc(50% - 75px);
  top: calc(50% - 90px);
  overflow: hidden;
}
.frame {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 7px;
  top: 5px;
  overflow: visible;
}
.image-1 {
  position: absolute;
  right: -91px;
  left: -24px;
  bottom: -1px;
  top: 0px;
  object-fit: cover;
}
.hair-style-1 {
  color: #fdfdfd;
  text-align: left;
  font-family: "GenYoGothicTw-R", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 10px;
  bottom: 0px;
  width: 124px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

</Style>